@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@1,900&family=Sacramento&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Courgette&family=Lato:ital,wght@1,900&family=Sacramento&family=Satisfy&display=swap');

body {
  margin: 0px;
}

header {
  background-color: black;
  padding: 20px;
  text-align: center;
}

h1 {
  font: normal bolder 3em 'Lato', sans-serif;
  color: white;
}

#autor {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

section {
  font: italic bolder 1.3em 'Borel', cursive;
  padding: 20px;
}

#flor {
  background-image: url(/desafio/imagens/background001.jpg);
  background-position: right center;
  background-size: cover;
  background-attachment: fixed; /*efeito paralax*/
}

#cartas {
  background-image: url(/desafio/imagens/background002.jpg);
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

section#flor > p {
  width: 300px;
  background-color: rgba(169, 169, 169, 0.438);
  text-shadow: 1px 1px 1px black;
}

section#cartas > p {
  width: 300px;
  background-color: rgba(143, 140, 140, 0.438);
  text-shadow: 1px 1px 1px black;
}
