* {
  margin: 0%;
}

#topo {
  background-image: url(imagens/strong-man.jpg);
  background-repeat: no-repeat;
  padding: 80px;
  background-position: center top;
  background-size: cover;
}

#titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: orange;
  margin-top: 5px;
}

#itens {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin-top: 20px;
}

.parte2 {
  width: 20vw;
  display: inline-block;
  padding: 20px;
  margin: auto;
}

#treinamento {
  height: 300px;
  width: 500px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}

#treino_titulo {
  font-size: 1.4em;
  font-weight: 900;
}

#treino_subtitulo {
  font-size: 1em;
  margin-top: 5px;
}

#treino_p {
  font-size: 0.8em;
}

.ver {
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 60px;
}

#ver-mais {
  color: orange;
  text-decoration: none;
}

.ver:hover {
  background-color: darkgray;
}

.parte3 {
  background-color: darkgray;
  padding: 10px;
}

section.parte3 > div {
  width: 20vw;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.text_icon {
  width: 200px;
  height: 200px;
  border: 2px solid lightgray;
  text-align: justify;
  font-size: 0.8em;
}

.icon {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
}

.parte4 {
  background-image: url(/desafio/imagens/madeira.jpg);
  height: 500px;
  position: relative;
}

.parte4 > div {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

#frases {
  width: 500px;
  height: 200px;
  background-color: white;
  padding: 20px;
}

#titulo_2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color: orange;
}

.quote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.first-row {
  width: 30vw;
  padding: 20px;
}

.sec-row {
  width: 30vw;
  padding: 40px;
}

.third-row {
  width: 30vw;
  padding: 20px;
}

.galeria_video {
  background-color: orange;
  width: 100vw;
  height: 200px;
}

.contato {
  margin-left: 40px;
}

.icon2 {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.address {
  margin-top: 10px;
}
