* {
  margin: 0%;
}

#topo {
  background-image: url(imagens/strong-man.jpg);
  padding: 80px;
}

#titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: orange;
  margin-top: 5px;
}

#itens {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin-top: 20px;
}

.segunda_parte {
  display: inline-block;
}

#agachamento {
  width: 200px;
  height: 135px;
}

.imagens_2 {
  margin: 40px;
  float: left;
}

#corrida {
  width: 200px;
  height: 100px;
}

.texto_treino {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 40px;
  margin-right: 40px;
}

#treino_titulo {
  font-size: 1.4em;
  font-weight: 900;
}

#treino_subtitulo {
  font-size: 1em;
  margin-top: 5px;
}

#treino_paragrafo {
  font-size: 0.8em;
  margin-top: 10px;
}

#ver_mais {
  color: orange;
  text-decoration: none;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

#ver_mais:hover {
  background-color: lightgray;
}

.terceira_parte {
  background-color: lightgray;
  display: inline-flex;
}

#heart_icone {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  margin-left: 110px;
}

#heart {
  width: 200px;
  height: 200px;
  border: 2px solid lightgray;
  text-align: justify;
  font-size: 0.8em;
  margin-left: 40px;
  margin-top: 10px;
}

#cardio {
  margin-left: 70px;
}

#hand_icone {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  margin-left: 110px;
}

#forca {
  margin-left: 70px;
}

#hand_text {
  width: 200px;
  height: 200px;
  border: 2px solid lightgray;
  text-align: justify;
  font-size: 0.8em;
  margin-left: 40px;
  margin-top: 10px;
}

#group_icone {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  margin-left: 110px;
}

#aulas {
  margin-left: 90px;
}

#aulas_texto {
  width: 200px;
  height: 200px;
  border: 2px solid lightgray;
  text-align: justify;
  font-size: 0.8em;
  margin-left: 40px;
  margin-top: 10px;
}

#personal {
  margin-left: 40px;
}

#personal_text {
  width: 200px;
  height: 200px;
  border: 2px solid lightgray;
  text-align: justify;
  font-size: 0.8em;
  margin-left: 40px;
  margin-top: 10px;
  padding-right: 100px;
}

#flag {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  margin-left: 110px;
}

.frases {
  background-color: black;
}

#frase_texto {
  width: 370px;
  height: 200px;
  background-color: white;
  margin-left: 450px;
  padding: 50px;
}

.quote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

#titulo2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: orange;
}

.autor {
  font-weight: normal;
}

.galeria {
  background-color: white;
}

#titulo3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 40px;
  margin-top: 40px;
}

.academia_1_row {
  width: 200px;
  height: 100px;
  display: inline-block;
  margin: 40px;
}

.academia_2_row {
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.academia_3_row {
  width: 200px;
  height: 100px;
  display: inline-block;
  margin: 40px;
}

.galeria_video {
  background-color: orange;
}

.contatos {
  background-color: white;
}

#house {
  width: 50px;
  height: 50px;
}

#home {
  margin: 40px;
}

#email {
  width: 50px;
  height: 50px;
}

#endereco_eletronico {
  margin: 40px;
}

#fone {
  width: 50px;
  height: 50px;
}

#telefone {
  margin: 40px;
}
